<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" (click)="navigateToHome()">
        <img src="assets/uplay.svg" alt="uPlayLogo" width="100" height="40">
      </a>

      <div *ngIf="isLoggedIn" class="d-flex flex-row align-items-center navbar-nav">
        <a class="nav-item nav-link ms-3" (click)="navigateToCoins()">Coins</a>
        <a class="nav-item nav-link ms-3" (click)="navigateToGames()">Juegos</a>
        <a class="nav-item nav-link ms-3" (click)="navigateToRankings()">Ranking</a>
      </div>
    </div>

    <button class="btn btn-warning" *ngIf="!isLoggedIn" (click)="navigateToLogin()">Login</button>
    <button class="btn btn-warning" *ngIf="isLoggedIn" (click)="navigateToHome()">Home</button>
  </div>
</nav>