<div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
    <div class="snowflake">
      <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
    </div>
    <div class="snowflake">
      <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
    </div>
    <div class="snowflake">
      <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
    </div>
