<div *ngIf="coinDetails" class="details-container">
  <div class="title-container">
    <div class="title-info">
      <img [src]="coinDetails?.image?.large" alt="{{ coinDetails?.name }}" class="coin-image">
    </div>
    <div class="links">
      <p class="text-info">
        <a href="{{ coinDetails?.links?.homepage[0]  }}" target="_blank">{{ coinDetails?.links?.homepage[0] }}</a>
      </p>
      <p *ngIf="coinDetails?.links?.subreddit_url && coinDetails?.links?.subreddit_url !== 'https://www.reddit.com'">
        <a href="{{ coinDetails?.links?.subreddit_url }}" target="_blank">{{ coinDetails?.links?.subreddit_url }}</a>
      </p>
    </div>
  </div>
  <div class="description-container">
    <h2 class="coin-name text-white">{{ coinDetails?.name }}</h2>
    <div class="description-content">
      <p [innerHTML]="coinDetails?.description?.en" class="text-white"></p>
    </div>
  </div>
  <div class="prices-container">
    <div class="prices-content">
      <p class="price text-warning all-caps">{{ coinDetails?.name }}</p>
      <p class="price card text-white bg-warning">U$D{{ coinDetails?.market_data?.current_price?.usd | number: '1.2-2' }}</p>
    </div>
    <div class="prices-content">
      <p class="price text-success">DOLAR OFICIAL</p>
      <p class="price card text-white bg-success">AR${{ dolarOficial| number: '1.2-2' }}</p>
      <p class="price text-success">-> {{ coinDetails?.name }}</p>
      <p class="price card text-white bg-success">AR${{ coinDetails?.market_data?.current_price?.ars | number: '1.2-2' }}</p>
    </div>
    <div class="prices-content">
      <p class="price text-secondary">DOLAR MEP</p>
      <p class="price card text-white bg-secondary">AR${{ dolarMEP | number: '1.2-2' }}</p>
      <p class="price text-secondary">-> {{ coinDetails?.name }}</p>
      <p class="price card text-white bg-secondary">AR${{ criptoMEP | number: '1.2-2' }}</p>
    </div>
    <div class="prices-content">
      <p class="price text-info">DOLAR BLUE</p>
      <p class="price card text-white bg-info">AR${{ dolarBlue | number: '1.2-2' }}</p>
      <p class="price text-info">-> {{ coinDetails?.name }}</p>
      <p class="price card text-white bg-info">AR${{ criptoBlue | number: '1.2-2' }}</p>
    </div>
  </div>
</div>