<div class="details-container">
  <div class="title-container">
    <div class="title-info">
      <img [src]="coinDetails.image.large" alt="{{ coinDetails.name }}" class="coin-image">
      <h2 class="text-white">{{ coinDetails.name }}</h2>
    </div>
    <div class="links">
      <p class="text-info"><a href="{{ coinDetails.links.homepage[0] }}" target="_blank">{{ coinDetails.links.homepage[0] }}</a></p>
      <p class="text-info"><a href="{{ coinDetails.links.subreddit_url }}" target="_blank">{{ coinDetails.links.subreddit_url }}</a></p>
    </div>
  </div>
  <div class="prices">
    <p class="price text-warning">Current Price (USD): </p>
    <p class="price text-success">${{ coinDetails.market_data.current_price.usd | number: '1.2-2' }}</p>
    <p class="price text-warning">Current Price (ARS): </p>
    <p class="price text-success">${{ coinDetails.market_data.current_price.ars | number: '1.2-2' }}</p>
</div>
  <div class="description-container">
    <div class="glass-background">
      <div class="description-content">
        <p [innerHTML]="coinDetails.description.en" class="text-white"></p>
      </div>
    </div>
  </div>
</div>