.svg-container {
    position: relative;
    pointer-events: none;
    animation: float 5s ease-in-out infinite, glowing 2s infinite;
	img { width: 100%; height: auto; }
  }

  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes glowing {
    0% {
      stdDeviation: 2;
    }
    50% {
      stdDeviation: 4;
    }
    100% {
      stdDeviation: 2;
    }
  }