
<div class="jumbotron text-center">
  <div class="row ">
          <div class="col-md-3 text-center">
              <h2 class="cred-lbl text-danger">BALANCE</h2>
              <h1 class="credits border-danger text-white">{{coinBalance}}<img src="assets/utncoin.svg" height="20px" alt="a"></h1>
          </div>
          <div class="col-md-6 text-center">
              <h1 class="main-heading">uSLOTS</h1>
          </div>
          <div class="col-md-3 text-center">
              <h2 class="bet-cred-lbl text-danger">TO BET</h2>
              <h1 class="bet-credits border-danger text-white">{{betCredits}}<img src="assets/utncoin.svg" height="20px" alt="a"></h1>
          </div>
  </div>
  
  <div class="row justify-content-md-center border-warning reel">
      <div class="col-md-2 image-one" id="reelImg" ><img [src]="currentSym1.symbolLink" alt="1"></div>
      <div class="col-md-2 image-two" id="reelImg"><img [src]="currentSym2.symbolLink" alt="2"></div>
      <div class="col-md-2 image-three" id="reelImg"><img  [src]="currentSym3.symbolLink" alt="3"></div>
  </div>
  
  <div class="row main-btns">
      <div class="col-md-4 sub-btns">
          <button type="button" class="btn btn-sm btn-info" (click)="betCoin()" [disabled]="isSpinning">BET 1 COIN</button>
          <button type="button" class="btn btn-sm btn-warning" (click)="betMax()" [disabled]="isSpinning">BET MAX</button>
      </div>
      <div class="col-md-4">
          <button type="button" class="btn btn-success btn-lg btn-spin" (click)="spinning()" [disabled]="isSpinning">SPIN</button>
      </div>
      <div class="col-md-4 sub-btns">
        <button type="button" class="btn btn-danger" (click)="reset()" [disabled]="isSpinning">RESET BET</button>

      </div>    
  </div>
  </div>

