<section class="vh-100 gradient-custom">
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
  <div class="snowflake">
    <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
  </div>
    <div class="snowflake">
      <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
    </div>
    <div class="snowflake">
      <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
    </div>
    <div class="snowflake">
      <img src="assets/utncoin.svg" width="24" height="24" alt="utncoin">
    </div>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white">
            <div class="card-body p-5 text-center">

              <div class="form-group">
                <div class="svg-container">
                  <object data="assets/uplay.svg" type="image/svg+xml">
                    Your browser does not support SVG.
                  </object>
                </div>
                <br>

                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control" placeholder="Email" />
                  <label class="form-label" for="typeEmailX">Email</label>



                  <input type="password" id="typePasswordX" class="form-control" placeholder="Password" />
                  <label class="form-label" for="typePasswordX">Password</label>
                </div>

                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

                <div class="pt-1 mb-4">
                  <button class="btn btn-warning btn-lg btn-block" type="submit">Login</button>
                </div>

              </div>

              <div>
                <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

</section>