<div class="container-fluid">
    <div class="crypto-cards">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <span class="ms-1 d-none d-sm-inline"><strong>coinBalance</strong> <img src="assets/utncoin.svg" height="20px" alt="a"></span>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">UTNcoin to exchange</label>
                    <input class="form-control form-control-lg" type="text" id="inputLarge">
                </div>
            </div>
        </div>
    </div>
    <div class="crypto-cards">
        <div class="card crypto-card text-white bg-warning mb-3" style="max-width: 20rem;">
            <div class="card-header">Bitcoin</div>
            <div class="card-body">
                <h4 class="card-title">UTNtobitcoin</h4>
                <p class="card-text">Exchange to Bitcoin!</p>
            </div>
        </div>
        <div class="card crypto-card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Monero</div>
            <div class="card-body">
                <h4 class="card-title">UTNtomonero</h4>
                <p class="card-text">Exchange to Monero!</p>
            </div>
        </div>
        <div class="card crypto-card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Ethereum</div>
            <div class="card-body">
                <h4 class="card-title">UTNtoethereum</h4>
                <p class="card-text">Exchange to Ethereum!</p>
            </div>
        </div>
    </div>
</div>
