<footer class="bg-gray text-center py-3">
    <div class="text-right">
        <div class="text-white">
            <p class="d-inline">Powered by</p>
        </div>
        <div>
            <a href="https://www.coingecko.com/en" rel="noopener" target="_blank" class="text-white">
                <p class="d-inline"><strong>CoinGecko</strong></p>
                <img src="assets/coingecko.svg" width="24" height="24" alt="CoinGecko" class="align-middle">
            </a>
        </div>
        <div>
            <a href="https://www.dolarito.ar/" rel="noopener" target="_blank" class="text-white">
                <p class="d-inline"><strong>Dolarito</strong></p>
                <img src="assets/dolarito.svg" width="24" height="24" alt="Dolarito" class="align-middle">
            </a>
        </div>
    </div>
</footer>