.bi {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.bg-monero {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff8b07;
    --bs-btn-border-color: #ff8b07;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d47100;
    --bs-btn-hover-border-color: #ca710a;
    --bs-btn-focus-shadow-rgb: 255, 202, 44;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ca710a;
    --bs-btn-active-border-color: #bb6605;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff8b07;
    --bs-btn-disabled-border-color: #ff8b07;
    box-shadow: 0 0 2px rgba(255, 139, 7, 0.9), 0 0 4px rgba(255, 147, 7, 0.4), 0 0 1rem rgba(255, 127, 7, 0.3), 0 0 4rem rgba(255, 168, 7, 0.1);
  }