.container {
    margin-top: 52px;
}

.left-half {
    float: left;
    margin: 0; 
    padding: 0; 
    overflow-y: auto;
}

.left-content {
    height: 100%; 
}

.right-half {
    float: right;
    justify-content: center;
    align-items: center;
}