<section class="vh-100 gradient-custom">
    <app-snowflakes></app-snowflakes>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white">
                    <div class="card-body p-5 text-center">

                        <a (click)="navigateToHome()" class="click-container">
                            <app-floating-logo></app-floating-logo>
                        </a>
                        <br>
                        <form [formGroup]="registrationForm" class="form-group" (ngSubmit)="navigateToHome()">
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typePasswordX">Nombre</label>
                                <input type="text" id="typeNameX" formControlName="name"
                                    class="form-control form-control-ml" placeholder="Nombre" />
                                <div class="alert alert-danger" role="alert" [hidden]="name.valid  || name.pristine">
                                    <span *ngIf="name.errors?.['required']">
                                        El nombre es obligatorio.
                                    </span>
                                    <span *ngIf="name.errors?.['minlength']">
                                        El nombre tiene que ser mayor a 4 caracteres.
                                    </span>
                                </div>

                                <label class="form-label" for="typeEmailX">Apellido</label>
                                <input type="text" id="typeEmailX" formControlName="lastname"
                                    class="form-control form-control-ml" placeholder="Apellido" />
                                <div class="alert alert-danger" role="alert"
                                    [hidden]="lastname.valid  || lastname.pristine">
                                    <span *ngIf="lastname.errors?.['required']">
                                        El apellido es obligatorio.
                                    </span>
                                    <span *ngIf="lastname.errors?.['minlength']">
                                        El apellido tiene que ser mayor a 4 caracteres.
                                    </span>
                                </div>

                                <label class="form-label" for="typeEmailX">Email</label>
                                <input type="email" id="typeEmailX" formControlName="email"
                                    class="form-control form-control-ml" placeholder="Email" />

                                <div class="alert alert-danger" role="alert" [hidden]="email.valid  || email.pristine">
                                    <span *ngIf="email.errors?.['required']">
                                        El email es obligatorio.
                                    </span>
                                    <span *ngIf="email.errors?.['email']">
                                        El email tiene que ser válido.
                                    </span>
                                </div>
                                <label class="form-label" for="typeEmailX">Contraseña</label>
                                <input type="password" id="typePasswordX" formControlName="password"
                                    class="form-control form-control-ml" placeholder="Password" />

                                <div class="alert alert-danger" role="alert"
                                    [hidden]="password.valid  || password.pristine">
                                    <span *ngIf="password.errors?.['required']">
                                        La contraseña es obligatoria.
                                    </span>
                                    <span *ngIf="password.errors?.['minlength']">
                                        La contraseña tiene que ser mayor a 4 caracteres.
                                    </span>
                                </div>
                                <label class="form-label" for="typePasswordX">Confirma tu contraseña</label>
                                <input type="password" id="typeConfirmationPasswordX"
                                    formControlName="confirmationPassword" class="form-control form-control-ml"
                                    placeholder="Confirma tu contraseña" />
                                <div class="alert alert-danger" role="alert"
                                    [hidden]="confirmationPassword.valid  || confirmationPassword.pristine">
                                    <span>
                                        Las contraseñas tienen que coincidir.
                                    </span>
                                </div>
                            </div>

                            <div *ngIf="showAlert" class="alert alert-warning">
                                {{alertMessage}}
                            </div>

                            <div class="pt-1 mb-4">
                                <button class="btn btn-warning btn-lg btn-block" type="submit" [disabled]="registrationForm.invalid">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>