<main>
<div class="container-fluid">
    <div class="content row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"> 
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                <div class="align-middle px-0 card text-white bg-primary mb-3">
                    <span class="ms-1 d-none d-sm-inline"><strong>{{ coinBalance }}</strong> <img src="assets/utncoin.svg" height="20px" alt="a"></span>
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="/games/slots" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Slots</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/games/roulette" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Roulette</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/games/flip" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Coin Flip</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</main>